@font-face {
  font-family: iransansWeb;
  src: url("../fonts/IRANSansWeb.ttf");
}

*::selection {
  font-family: iransansWeb;
  background-color: #63b624;
  color: #fff;
}

body {
  direction: rtl;
  font-family: iransansWeb;
  margin: 0;
  overflow-x: hidden;
}

.iconMenuMobile,
.kadrDisableScroll,
.kadrMenuMobile {
  display: none;
}

p {
  line-height: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.fa-check {
  color: #73cd30;
  vertical-align: middle;
}

.container {
  width: 70%;
  max-width: 1600px;
  margin: auto;
}

.no-scroll {
  overflow: hidden; /* حذف اسکرول عمودی */
  height: 100vh; /* جلوگیری از تغییر ارتفاع صفحه */
}
/* بنر */

#baner {
  background-image: url(../media/images/bgHeadBaner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15px 0;
}

#baner #kadrMatnBaner {
  max-width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#baner #kadrMatnBaner span {
  font-size: 0.95rem;
  font-weight: 600;
  color: #efefef;
}

#baner #kadrMatnBaner a {
  color: #efefef;
  font-size: 0.8rem;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #ff4d4d;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 95, 95, 0.5);
  transition: 0.3s;
}

#baner #kadrMatnBaner a:hover {
  background-color: #ff2929;
}

/* header */
header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .navKadrRight {
  display: flex;
  justify-content: flex-start;
  max-width: 60%;
}

nav .navKadrRight .kadrLogo {
  margin-left: 25px;
}

nav .navKadrRight .kadrMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navKadrRight .kadrMenu .navItem {
  font-size: 1.1rem;
  padding: 15px 25px;
  transition: 0.3s;
}

nav .navKadrRight .kadrMenu .navItem > a {
  color: #4b515a;
  transition: 0.3s;
}

nav .navKadrRight .kadrMenu .navItem:hover > a {
  color: #0fbcf1;
}

/* استایل های زیر منو */

nav .navKadrRight .kadrMenu .hasDropMenu {
  position: relative;
}

nav .navKadrRight .kadrMenu .hasDropMenu > a > i {
  transition: 0.1s;
}

nav .navKadrRight .kadrMenu .hasDropMenu:hover > a > i {
  transform: rotate(180deg);
}

nav .navKadrRight .kadrMenu .hasDropMenu:hover .kadrDropMenu {
  visibility: visible;
  opacity: 1;
  transform: perspective(1200px) rotateX(0deg);
}

.kadrDropMenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: -180%;
  width: 300px;
  padding: 15px 0;
  padding-bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transform: perspective(1200px) rotateX(-20deg);
  z-index: 99;
  transition: 0.5s;
}

.kadrDropMenu .dropItem {
  padding: 15px 30px;
}

.kadrDropMenu .dropItem a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kadrDropMenu .dropItem:hover h4 {
  color: #24272c;
}

.dropItemIcon {
  width: 40px;
}

.dropItemIcon svg {
  width: 80%;
  padding: 10px;
  border-radius: 30%;
}

.dropItemMatn h4 {
  margin: 5px 0;
  font-size: 1rem;
  color: #4b515a;
  transition: 0.3s;
}

.dropItemMatn p {
  margin: 0;
  font-size: 0.9rem;
  color: #4b515a;
}

.dropBottom a {
  color: #717cb3;
  transition: 0.3s;
}

.dropBottom:hover a {
  transform: translate(-3%);
  color: #4b515a;
}

/* دکمه های ورود و ثبت نام */

.navKadrLeft {
  width: 15%;
  display: flex;
  align-items: center;
}

.kadrLogin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kadrLogin > div a {
  padding: 10px 25px;
  background-color: red;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.3s;
}

.kadrLogin .vorood a {
  background-color: #eff2f5;
  color: #8e939b;
}

.kadrLogin .vorood a:hover {
  background-color: #dee1e4;
}

.kadrLogin .sabtNam a {
  background-color: rgba(137, 214, 79, 0.22);
  color: #73cd30;
}

.kadrLogin .sabtNam a:hover {
  background-color: rgba(108, 174, 57, 0.22);
}

/*  محتوای صفحه  */

main {
  padding: 100px 0;
}

.kadrFlex {
  display: flex;
}

/* بخش اول */

.homePageS1 h2 {
  color: #8e939b;
  font-size: 1.5rem;
}

.homePageS1 h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #4b515a;
}

.homePageS1 p {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #8e939b;
}

.homePageS1 a {
  padding: 15px 25px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #6cd41c;
  box-shadow: 0 0 5px #88eb3d;
  border-radius: 30px;
  transition: 0.3s;
}

.homePageS1 a:hover {
  background-color: #63b624;
}

.homePageS1 a:active {
  box-shadow: 0 0 0 0 transparent;
}

.homePageS1 ul {
  max-width: 30%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 0.8rem;
  color: #8e939b;
}

.homePageS1 .kadrImgS1 {
  text-align: center;
}

/* بخش دوم */

.homePageS2 h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4b515a;
}

.homePageS2 p {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #8e939b;
}

.homePageS2 .kadrFlex {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePageS2 .kadrFlex .itemFlex {
  width: calc(48% - 50px);
  height: 450px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(84, 84, 84, 0.1);
}

.homePageS2 .kadrFlex .itemFlex div:first-child {
  margin-bottom: -25px;
}

.homePageS2 .kadrFlex .itemFlex h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.homePageS2 .kadrFlex .itemFlex h3 a {
  color: #4b515a;
  transition: 0.3s;
}

.homePageS2 .kadrFlex .itemFlex h3 a:hover {
  color: #24272c;
}

.homePageS2 .kadrFlex .itemFlex p {
  font-size: 1rem;
  text-align: center;
}

.homePageS2 .kadrFlex .dokme {
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  border-radius: 30px;
  transition: 0.3s;
}

.homePageS2 .kadrFlex span {
  font-size: 0.8rem;
  font-weight: 600;
}

.homePageS2 .kadrFlex .itemFlex1 .dokme {
  background-color: #ffb738;
  box-shadow: 0 0 20px rgba(255, 183, 56, 0.5);
}

.homePageS2 .kadrFlex .itemFlex1 .dokme:hover {
  background-color: #ffa912;
}

.homePageS2 .kadrFlex .itemFlex1 .dokme:active {
  box-shadow: 0 0 0 0 transparent;
}

.homePageS2 .kadrFlex .itemFlex1 span {
  color: #ffb738;
}

.homePageS2 .kadrFlex .itemFlex2 .dokme {
  background-color: #6898f8;
  box-shadow: 0 0 20px rgba(104, 152, 248, 0.5);
}

.homePageS2 .kadrFlex .itemFlex2 .dokme:hover {
  background-color: #437ff6;
}

.homePageS2 .kadrFlex .itemFlex2 .dokme:active {
  box-shadow: 0 0 0 0 transparent;
}

.homePageS2 .kadrFlex .itemFlex2 span {
  color: #6898f8;
}

/* بخش سوم */

.homePageS3 {
  padding: 100px 0;
}

.homePageS3 .fa-phone {
  margin-left: 10px;
  padding: 15px;
  color: #86d64f;
  font-size: 1.25rem;
  border-radius: 40%;
  background-color: rgba(137, 214, 79, 0.102);
}

.homePageS3 span {
  font-size: 1.25rem;
  font-weight: 700;
  color: #4b515a;
}

.homePageS3 p {
  font-size: 1.1rem;
  color: #8e939b;
}

.homePageS3 p a {
  display: inline-block;
  font-weight: 700;
  padding: 10px 20px;
  color: #6cd41c;
  background-color: #eff2f5;
  border-radius: 30px;
  transition: 0.3s;
}

.homePageS3 p a:hover {
  color: #63b624;
}

/* بخش چهارم */
.homePageS4 {
  position: relative;
  display: flex;
}

.homePageS4 .rightGradient::before {
  content: "";
  display: block;
  position: relative;
  right: 0;
  top: 350px;
  z-index: 1;
  width: 170px;
  height: 250px;
  background: linear-gradient(-35deg, rgba(255, 183, 56, 0) 30%, #ffb738);
  transform: skewY(6deg);
  border-radius: 30px 0 0 0;
  transform-origin: left top;
  opacity: 0.1;
}

.homePageS4 .kadrFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.homePageS4 .itemFlex1 {
  width: 50%;
}

.homePageS4 .itemFlex1 h3 {
  font-size: 1.6rem;
  color: #4b515a;
}

.homePageS4 .itemFlex1 p {
  font-size: 1.1rem;
  color: #8e939b;
}

.homePageS4 .itemFlex1 ul {
  padding: 0;
}

.homePageS4 .itemFlex1 ul li {
  font-size: 1.1rem;
  padding: 20px 0;
  color: #8e939b;
  border-bottom: 1px solid #efefef;
}

.homePageS4 .itemFlex1 ul li:last-child {
  border-bottom: transparent;
}

.homePageS4 .itemFlex1 .dokme {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #6898f8;
  box-shadow: 0 0 20px rgba(104, 152, 248, 0.5);
  border-radius: 30px;
  transition: 0.3s;
}

.homePageS4 .itemFlex1 .dokme i {
  transition: 0.3s;
}

.homePageS4 .itemFlex1 .dokme:hover {
  background-color: #437ff6;
}

.homePageS4 .itemFlex1 .dokme:active {
  box-shadow: 0 0 0 0 transparent;
}

.homePageS4 .itemFlex1 .dokme:hover i {
  transform: translateX(-2px);
  transition: 0.3;
}

.homePageS4 .itemFlex2 {
  width: 30%;
  max-width: 400px;
  position: relative;
  margin-right: 20px;
  transform: perspective(1000px) rotateY(22deg) rotateX(-2deg) rotate(-1deg);
  transition: 0.6s;
}

.homePageS4 .itemFlex2 img {
  border-radius: 10px;
}

.homePageS4 .itemFlex2 img:first-child {
  position: absolute;
  left: 30px;
  bottom: -20px;
  opacity: 0.1;
  z-index: 1;
  transform: translate(0, 0);
  transition: 0.6s;
}

.homePageS4 .itemFlex2 img:last-child {
  box-shadow: 0 0 80px rgba(75, 81, 90, 0.2),
    15px 20px 110px rgba(75, 81, 90, 0.2);
  position: relative;
  z-index: 2;
  transition: 0.6s;
}

.homePageS4 .itemFlex2:hover {
  transform: perspective(1000px) rotateY(0) rotateX(0) rotate(0);
}

.homePageS4 .itemFlex2:hover img:first-child {
  left: 50px;
  bottom: 0px;
  opacity: 0;
}

.homePageS4 .leftGradient::before {
  content: "";
  position: absolute;
  left: 0;
  top: -90px;
  z-index: 1;
  height: 500px;
  width: 160px;
  background: linear-gradient(-35deg, rgba(104, 152, 248, 0) 30%, #6898f8);
  border-radius: 0 30px 0 0;
  transform: skewY(-6deg);
  transform-origin: right top;
  opacity: 0.1;
}

.homePageS4 .leftGradient::after {
  content: "";
  position: relative;
  left: 0;
  display: block;
  z-index: 2;
  height: 500px;
  width: 300px;
  background: linear-gradient(-35deg, rgba(104, 152, 248, 0) 30%, #6898f8);
  border-radius: 0 30px 0 0;
  transform: skewY(-6deg);
  transform-origin: right bottom;
  opacity: 0.1;
}

/* بخش پنجم */

.homePageS5 {
  padding: 100px 0;
}

.homePageS5 div:first-child {
  text-align: center;
}

.homePageS5 div:first-child h3 {
  font-size: 1.6rem;
  color: #4b515a;
}

.homePageS5 div:first-child p {
  font-size: 1.1rem;
  color: #8e939b;
}

.homePageS5 .kadrFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.homePageS5 .kadrFlex .itemFlex {
  width: 30%;
  text-align: right;
  margin: 20px 0;
}

.homePageS5 .kadrFlex .itemFlex .kadrAks {
  margin-bottom: -20px;
}

.homePageS5 .kadrFlex .itemFlex .kadrContent {
  margin-right: 15%;
}

.homePageS5 .kadrFlex .itemFlex img {
  width: 100%;
}

.homePageS5 .kadrFlex .itemFlex h3 {
  font-size: 1.4rem;
  margin: 0;
}

.homePageS5 .kadrFlex .itemFlex p {
  font-size: 0.9rem;
}

.homePageS5 .kadrFlex .itemFlex4 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homePageS5 .kadrFlex .itemFlex4 div:first-child {
  width: 40%;
}

.homePageS5 .kadrFlex .itemFlex4 div:last-child {
  width: 60%;
  margin-right: 0;
}

.kadrMore div {
  text-align: right !important;
}

.kadrMore div:first-child {
  font-size: 1.125rem;
  color: #4b515a;
}

.kadrMore a {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  color: #6cd41c;
  transition: 0.3s;
}

.kadrMore a:last-child i {
  transition: 0.3s;
}

.kadrMore .dokme {
  color: #fff;
  background-color: #73cd30;
  box-shadow: 0 0 5px #88eb3d;
  border-radius: 30px;
  padding: 10px 20px;
}

.kadrMore .dokme:hover {
  background-color: #63b624;
}

.kadrMore .dokme:active {
  box-shadow: 0 0 0 0 transparent;
}

.kadrMore a:last-child:hover {
  color: #63b624;
}

.kadrMore a:last-child:hover i {
  transform: translateX(-2px);
}

/* بخش ششم */

.homePageS6 .titre {
  text-align: center;
  margin-bottom: 50px;
}

.homePageS6 .titre h3 {
  color: #4b515a;
  font-size: 1.6rem;
}

.homePageS6 .titre p {
  font-size: 1.1rem;
  color: #8e939b;
}

.homePageS6 .kadrFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePageS6 .kadrFlex .itemFlex {
  width: 27%;
  text-align: center;
  transition: 0.3s;
}

.homePageS6 .kadrFlex .itemFlex .kadrAks {
  width: 100%;
  transition: 0.3s;
}

.homePageS6 .kadrFlex .itemFlex .kadrAks img {
  width: 100%;
}

.homePageS6 .kadrFlex .itemFlex h4 {
  color: #4b515a;
  font-size: 1.4rem;
  margin: 0;
  transition: 0.3s;
}

.homePageS6 .kadrFlex .itemFlex p {
  color: #8e939b;
}

.homePageS6 .kadrFlex .itemFlex:hover .kadrAks {
  transform: translateY(-5px);
}

.homePageS6 .kadrFlex .itemFlex:hover h4 {
  color: #24272c;
}

/* بخش هفتم */

.homePageS7 {
  padding: 100px 0;
}

.homePageS7 .kadrFlex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  border-radius: 15px;
  box-shadow: 0 20px 100px #fbf4eb;
}

.homePageS7 .kadrFlex .itemFlex2 {
  width: 60%;
  font-size: 1.6rem;
  color: #4b515a;
}

.homePageS7 .kadrFlex .itemFlex3 {
  text-align: left;
}

.homePageS7 .kadrFlex .itemFlex3 i {
  font-size: 2rem;
  color: #ffa912;
  transform: scaleX(1.5) translateX(-5%);
}

.homePageS7 .kadrFlex .itemFlex3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 150px;
  width: 160px;
  background: linear-gradient(-35deg, rgba(255, 183, 56, 0) 30%, #ffb738);
  border-radius: 0 30px 0 0;
  transform: skewY(-6deg);
  transform-origin: right top;
  opacity: 0.1;
}

/* بخش هشتم */

.homePageS8 ol {
  list-style-type: persian;
}

.homePageS8 .titre {
  text-align: center;
  margin-bottom: 20px;
}

.homePageS8 .titre h3 {
  font-size: 1.6rem;
  color: #4b515a;
}

.homePageS8 .titre p {
  font-size: 1.1rem;
  color: #8e939b;
}

/* زیرمنو ها */

.homePageS8 .accordion {
  width: 100%;
  font-family: iransansWeb;
  background-color: #fff;
  color: #4b515a;
  border-radius: 5px;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: right;
  outline: none;
  font-size: 1.1rem;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.homePageS8 .menuActive {
  border-radius: 5px 5px 0 0;
}

.homePageS8 .menuActive {
  color: #437ff6;
  border-bottom: 1px solid #dee1e4;
  box-shadow: 0 -5px 10px rgba(57, 56, 56, 0.1);
}

.homePageS8 .menuActive .accordion::after {
  color: #437ff6;
}

.homePageS8 .accordion:after {
  content: "\002B";
  color: #4b515a;
  font-weight: bold;
  float: left;
  margin-left: 5px;
}

.homePageS8 .menuActive:after {
  content: "\2212";
  color: #437ff6;
}

.homePageS8 .panel {
  font-size: 0.9rem;
  color: #8e939b;
  text-align: right;
  margin-bottom: 20px;
  padding: 0 30px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.homePageS8 .panel .contentPanel li {
  padding: 10px 0;
}

/* بخش نهم */

.homePageS9 {
  padding: 100px 0;
  background-image: url(../media/images/home-s9-bg.png);
  background-repeat: no-repeat;
  background-position: right top 99px;
}

.homePageS9 .titre {
  text-align: center;
  margin-bottom: 50px;
}

.homePageS9 .titre h3 {
  font-size: 1.6rem;
  color: #4b515a;
}

.homePageS9 .titre p {
  font-size: 1.1rem;
  color: #8e939b;
}

.homePageS9 .kadrFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePageS9 .kadrFlex .itemFlex {
  width: calc(30% - 80px);
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  text-align: center;
}

.homePageS9 .kadrFlex .itemFlex h3 {
  color: #717cb3;
  transition: 0.3s;
}

.homePageS9 .kadrFlex .itemFlex .kadrAks img {
  border-radius: 5px;
  width: 100%;
}

.homePageS9 .kadrFlex .itemFlex:hover h3 {
  color: #437ff6;
}

.homePageS9 .kadrDokme {
  text-align: center;
  margin: 50px;
}

.homePageS9 .kadrDokme .dokme {
  background-color: #6898f8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(104, 152, 248, 0.5);
  transition: 0.3s;
}

.homePageS9 .kadrDokme .dokme:hover {
  background-color: #437ff6;
}

.homePageS9 .kadrDokme .dokme:active {
  box-shadow: 0 0 20px transparent;
}

/* بخش دهم */

.homePageS10 .kadrFlex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 40px 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.homePageS10 .kadrFlex .itemFlex1 {
  width: 50%;
}

.homePageS10 .kadrFlex .itemFlex1 strong {
  color: #4b515a;
  font-size: 1.75rem;
  margin: 0;
}

.homePageS10 .kadrFlex .itemFlex1 p {
  font-size: 1.1rem;
  color: #8e939b;
}

.homePageS10 .kadrFlex .itemFlex2 .dokme {
  position: relative;
  font-size: 1.1rem;
  background-color: #6898f8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(104, 152, 248, 0.5);
  z-index: 3;
  transition: 0.3s;
}

.homePageS10 .kadrFlex .itemFlex2 .dokme:hover {
  background-color: #437ff6;
}

.homePageS10 .kadrFlex .itemFlex2 .dokme:active {
  box-shadow: 0 0 20px transparent;
}

.homePageS10 .kadrFlex::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 100px;
  width: 160px;
  background: linear-gradient(-35deg, rgba(104, 152, 248, 0) 30%, #6898f8);
  border-radius: 0 30px 0 0;
  transform: skewY(-6deg);
  transform-origin: right top;
  opacity: 0.1;
}

.homePageS10 .kadrFlex::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  z-index: 2;
  height: 180px;
  width: 190px;
  background: linear-gradient(-35deg, rgba(104, 152, 248, 0) 30%, #6898f8);
  border-radius: 0 30px 0 0;
  transform: skewY(-6deg);
  transform-origin: right top;
  opacity: 0.1;
}

/* بخش یازدهم */

.homePageS11 {
  padding: 100px 0;
}

.homePageS11 .titre {
  text-align: center;
  margin-bottom: 50px;
}

.homePageS11 .titre h4 {
  font-size: 1.6rem;
  color: #4b515a;
  margin: 0;
}

.homePageS11 .titre p {
  font-size: 1.1rem;
  color: #8e939b;
}

.homePageS11 .kadrFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePageS11 .kadrFlex .itemFlex {
  text-align: center;
  width: 20%;
  border-radius: 5px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.homePageS11 .kadrFlex .itemFlex a {
  display: block;
  padding: 20px;
}

.homePageS11 .kadrFlex .itemFlex .kadrContent div:first-child {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #4b515a;
  transition: 0.3s;
}

.homePageS11 .kadrFlex .itemFlex:hover .kadrContent div:first-child,
.homePageS11 .kadrFlex .itemFlex:hover .kadrContent div:last-child {
  color: #24272c;
}

.homePageS11 .kadrFlex .itemFlex .kadrContent div:last-child {
  font-size: 0.875rem;
  color: #8e939b;
  transition: 0.3s;
}

/* فوتر */

footer {
  padding: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

footer .kadrFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .kadrFlex .itemFlex {
  width: 15%;
}

footer .kadrFlex .itemFlex h4 {
  margin: 0;
  color: #24272c;
  font-size: 1.25rem;
}

footer .kadrFlex .itemFlex .footerList {
  margin: 0;
  padding: 0;
}

footer .kadrFlex .itemFlex .footerList li {
  margin: 15px 0;
}

footer .kadrFlex .itemFlex .footerList li .footerLink {
  color: #8e939b;
  transition: 0.3s;
}

footer .kadrFlex .itemFlex .footerList li:hover .footerLink {
  color: #0fbcf1;
}

footer .kadrFlex .itemFlex5 {
  width: 30%;
}

footer .kadrFlex .itemFlex5 .kadrContact {
  margin-top: 20px;
}

footer .kadrFlex .itemFlex5 .kadrContact > div {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

footer .kadrFlex .itemFlex5 .kadrContact > div > i {
  font-size: 1rem;
  color: #8e939b;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

footer .kadrFlex .itemFlex5 .kadrContact > div span {
  margin-right: 20px;
  color: #8e939b;
}

footer .kadrFlex .itemFlex5 .kadrContact > div span a {
  color: #4b515a;
  transition: 0.3s;
}

footer .kadrFlex .itemFlex5 .kadrContact > div span:hover a {
  color: #24272c;
}

footer .kadrFlex .itemFlex5 .kadrContact .socialIcon {
  display: flex;
  align-items: center;
}

footer .kadrFlex .itemFlex5 .kadrContact .socialIcon > div a i {
  transition: 0.3s;
  font-size: 1rem;
  color: #8e939b;
  padding: 10px;
}

footer .kadrFlex .itemFlex5 .kadrContact .socialIcon > div:hover a i {
  color: #4b515a;
}

footer .kadrFlex .itemFlex5 .kadrContact .dokme {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 30px;
  color: #8e939b;
  background-color: #dfe4e9;
  transition: 0.3s;
}

footer .kadrFlex .itemFlex5 .kadrContact .dokme:hover {
  background-color: #d1d3d5;
}

footer .footerBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 1.1rem;
}

footer .footerBottom p {
  color: #8e939b;
}

footer .footerBottom a {
  color: #0fbcf1;
  transition: 0.3s;
}

footer .footerBottom a:hover {
  color: #437ff6;
}

/* برای عرض ۱۴۰۰ پیکسل تا ۱۶۰۰ پیکسل */

@media screen and (max-width: 1600px) {
  .container {
    width: 90%;
  }

  #baner #kadrMatnBaner {
    max-width: 40%;
  }

  .homePageS4 .itemFlex1 {
    width: 50%;
  }

  .homePageS4 .itemFlex2 {
    width: 40%;
  }

  .homePageS4 .rightGradient::before {
    width: 130px;
  }

  .homePageS4 .leftGradient::before {
    width: 100px;
  }

  .homePageS4 .leftGradient::after {
    width: 200px;
  }
}

/* برای عرض ۱۲۰۰ پیکسل تا ۱۴۰۰ پیکسل */

@media screen and (max-width: 1400px) {
  .container {
    width: 95%;
  }

  nav .navKadrRight {
    max-width: 70%;
  }

  .navKadrLeft {
    width: 20%;
  }

  .homePageS1 ul {
    max-width: 40%;
  }

  .homePageS2 .kadrFlex {
    width: 80%;
  }

  .homePageS4 .rightGradient::before {
    position: absolute;
  }

  .homePageS4 .leftGradient::after {
    position: absolute;
  }
}

/* برای عرض ۹۹۲ پیکسل تا ۱۲۰۰ پیکسل */

@media screen and (max-width: 1200px) {
  #baner #kadrMatnBaner {
    max-width: 60%;
  }

  nav .navKadrRight {
    max-width: 80%;
  }

  nav .navKadrRight .kadrMenu .navItem {
    padding: 15px;
  }

  .homePageS1 ul {
    max-width: 50%;
  }

  .homePageS2 .kadrFlex {
    width: 85%;
  }
  .homePageS4 .itemFlex2 {
    transform: perspective(0) rotateY(0) rotateX(0) rotate(0);
  }

  .homePageS4 .itemFlex2 img:first-child {
    display: none;
  }

  footer .footerBottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* برای عرض ۷۶۸ پیکسل تا ۹۹۲ پیکسل */

@media screen and (max-width: 992px) {
  #baner #kadrMatnBaner {
    max-width: 70%;
  }

  header {
    position: static;
  }

  nav .navKadrRight {
    width: 60%;
  }

  nav .navKadrRight .kadrMenu {
    display: none;
  }

  .navKadrLeft {
    width: 30%;
  }

  .homePageS1 ul {
    max-width: 60%;
  }

  .homePageS1 .kadrImgS1 img {
    width: 100%;
  }

  .homePageS2 .kadrFlex {
    width: 100%;
  }

  .homePageS2 .kadrFlex .itemFlex {
    width: calc(48% - 30px);
    padding: 25px 15px;
  }

  .homePageS4 .kadrFlex {
    flex-direction: column-reverse;
  }

  .homePageS4 .itemFlex1 {
    width: 100%;
  }

  .homePageS4 .itemFlex2 {
    width: 100%;
    margin-bottom: 50px;
  }

  .homePageS5 .kadrFlex {
    flex-wrap: wrap;
  }
  .homePageS5 .kadrFlex .itemFlex {
    width: 50%;
  }

  .homePageS5 .kadrFlex .itemFlex4 {
    width: 100%;
  }

  .homePageS6 .kadrFlex .itemFlex {
    width: 30%;
  }

  .homePageS7 .kadrFlex .itemFlex2 {
    width: 70%;
    font-size: 1.4rem;
  }

  .homePageS7 .kadrFlex .itemFlex3 i {
    font-size: 1.6rem;
  }

  .homePageS9 .kadrFlex {
    flex-wrap: wrap;
  }

  .homePageS9 .kadrFlex .itemFlex {
    width: calc(45% - 80px);
    margin-bottom: 50px;
  }

  .homePageS9 .kadrDokme .dokme {
    font-size: 1.3rem;
  }

  .homePageS11 .kadrFlex {
    flex-wrap: wrap;
  }

  .homePageS11 .kadrFlex .itemFlex {
    width: 45%;
    margin-bottom: 50px;
  }

  footer .kadrFlex {
    flex-wrap: wrap;
  }

  footer .kadrFlex .itemFlex {
    width: 25%;
  }

  footer .kadrFlex .itemFlex5 {
    width: 100%;
  }
  /* تنظیمات منو موبایل و تبلت */

  .container {
    overflow: hidden;
  }

  .iconMenuMobile {
    display: flex;
  }

  .kadrDisableScroll,
  .kadrMenuMobile {
    display: block;
  }

  .iconMenuMobile {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .iconMenuMobile i {
    position: absolute;
    font-size: 1.2rem;
    color: #8e939b;
    padding: 15px;
    border-radius: 50%;
    background-color: #eff2f5;
    cursor: pointer;
    transition: 0.3s;
  }

  .iconMenuMobile .iconOpenMenu {
    visibility: visible;
    z-index: 2;
    transition: 0.3s;
  }

  .iconMenuMobile .iconCloseMenu {
    visibility: hidden;
    z-index: 0;
    transition: 0.3s;
  }

  .kadrDisableScroll {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #8e939b;
    z-index: 9998;
    opacity: 0.2;
    transition: 0.3s;
  }

  .kadrMenuMobile {
    position: absolute;
    right: -500px;
    top: 0;
    bottom: 0;
    width: 40%;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .kadrMenuMobile .menuHead {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #437ff6;
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.5);
  }

  .kadrMenuMobile .menuHead > div:first-child {
    margin-left: 20px;
  }

  .kadrMenuMobile .menuHead > div:last-child {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
  }

  .kadrMenuMobile .menuHead h2 {
    font-size: 1.2rem;
    margin: 0;
  }

  .kadrMenuMobile .menuHead p {
    margin: 0;
  }

  .kadrMenuMobile .menuMobile {
    padding: 50px 0;
  }

  .kadrMenuMobile .menuMobile .listItemMobile {
    margin: 0;
    padding: 0;
  }

  .kadrMenuMobile .menuMobile .listItemMobile .itemMobile {
    padding: 15px 50px;
    border-bottom: 1px solid #fbf4eb;
  }

  .kadrMenuMobile .menuMobile .listItemMobile .itemMobile > a {
    color: #8e939b;
    transition: 0.3s;
  }

  .kadrMenuMobile .menuMobile .listItemMobile .itemMobile:active > a {
    color: #437ff6;
  }

  /* زیرمنو ها */

  .kadrMenuMobile .menuMobile .listItemMobile .itemMobile .accordion {
    width: 100%;
    font-family: iransansWeb;
    background-color: #fff;
    color: #4b515a;
    cursor: pointer;
    border: none;
    text-align: right;
    outline: none;
    transition: 0.3s;
  }

  .kadrMenuMobile .menuMobile .listItemMobile .itemMobile .menuActive {
    color: #437ff6;
    font-size: 1rem;
    padding: 15px 0;
  }

  .kadrMenuMobile
    .menuMobile
    .listItemMobile
    .itemMobile
    .menuActive
    .accordion::after {
    color: #437ff6;
  }

  .kadrMenuMobile .menuMobile .listItemMobile .itemMobile .accordion:after {
    content: "\002B";
    color: #8e939b;
    font-weight: bold;
    float: left;
    margin-left: 5px;
  }

  .kadrMenuMobile .menuMobile .listItemMobile .itemMobile .menuActive:after {
    content: "\2212";
    color: #437ff6;
  }

  .kadrMenuMobile .menuMobile .listItemMobile .itemMobile .panel {
    font-size: 0.9rem;
    color: #8e939b;
    text-align: right;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .kadrMenuMobile
    .menuMobile
    .listItemMobile
    .itemMobile
    .panel
    .contentPanel
    ul {
    margin: 0;
    padding: 0;
  }

  .kadrMenuMobile
    .menuMobile
    .listItemMobile
    .itemMobile
    .panel
    .contentPanel
    li {
    padding: 10px 0;
    border-bottom: 1px solid #fbf4eb;
  }

  .kadrMenuMobile
    .menuMobile
    .listItemMobile
    .itemMobile
    .panel
    .contentPanel
    li
    a {
    color: #8e939b;
  }
}

/* برای عرض ۵۷۶ پیکسل تا ۷۶۸ پیکسل */

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .menuMobile .navKadrLeft {
    display: block;
    width: calc(100% - 100px);
    padding: 15px 50px;
    position: absolute;
    bottom: 25px;
  }

  #baner {
    display: flex;
    justify-content: center;
  }

  #baner #kadrMatnBaner {
    width: 100%;
    justify-content: space-between;
  }

  #baner #kadrMatnBaner span {
    margin-left: 15px;
    white-space: nowrap;
  }

  #baner #kadrMatnBaner a {
    white-space: nowrap;
  }

  nav .navKadrRight {
    width: 45%;
  }

  .navKadrLeft {
    width: 35%;
  }

  .kadrMenuMobile {
    width: 50%;
  }

  .homePageS1 ul {
    flex-direction: column;
  }

  .homePageS1 ul li {
    margin-bottom: 10px;
  }

  .homePageS2 .kadrFlex {
    flex-direction: column;
  }

  .homePageS2 .kadrFlex .itemFlex {
    width: calc(100% - 30px);
  }

  .homePageS5 .kadrFlex {
    justify-content: center;
  }

  .homePageS5 .kadrFlex .itemFlex {
    width: 70%;
  }

  .homePageS5 .kadrMore {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homePageS6 .kadrFlex {
    flex-wrap: wrap;
  }

  .homePageS6 .kadrFlex .itemFlex {
    width: 45%;
    margin-bottom: 50px;
  }

  .homePageS7 .kadrFlex {
    padding: 15px 40px;
  }

  .homePageS10 .kadrFlex {
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
  }

  .homePageS10 .kadrFlex .itemFlex {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }

  footer .kadrFlex .itemFlex {
    width: 50%;
    margin-bottom: 25px;
  }
}

/* برای عرض ۳۲۰ پیکسل تا ۵۷۶ پیکسل */

@media screen and (max-width: 576px) {
  html {
    font-size: 13px;
  }

  .kadrMenuMobile {
    width: 85%;
  }

  #baner #kadrMatnBaner {
    flex-direction: column;
  }

  #baner #kadrMatnBaner span {
    text-align: center;
    margin-bottom: 25px;
    white-space: wrap;
  }

  nav .navKadrRight {
    display: flex;
    align-items: center;
  }

  nav .navKadrRight::after {
    content: "پرتال";
    font-size: 1.6rem;
    font-weight: 700;
    color: #4b515a;
    margin-right: 15px;
  }

  .iconMenuMobile {
    width: 30%;
  }

  .navKadrLeft {
    display: none;
  }

  .homePageS1 p {
    display: none;
  }

  .homePageS1 a {
    margin-top: 25px;
  }

  .homePageS1 ul {
    padding: 0;
  }

  .homePageS4 .itemFlex2 {
    margin-right: 0;
  }

  .homePageS4 .itemFlex2 img:last-child {
    width: 100%;
  }

  .homePageS4 .itemFlex1 h3,
  .homePageS4 .itemFlex1 p {
    text-align: center;
  }

  .homePageS4 .itemFlex1 > div:last-child {
    text-align: center;
  }

  .homePageS5 .kadrFlex .itemFlex {
    width: 100%;
  }

  .homePageS5 .kadrFlex .itemFlex {
    flex-direction: column;
  }

  .homePageS5 .kadrFlex .itemFlex4 div:first-child,
  .homePageS5 .kadrFlex .itemFlex4 div:last-child {
    width: 100%;
  }

  .homePageS5 .kadrMore > div:first-child {
    display: none;
  }

  .kadrMore div {
    text-align: center !important;
  }

  .homePageS6 .titre p {
    display: none;
  }

  .homePageS6 .kadrFlex .itemFlex {
    width: 100%;
  }

  .homePageS7 .kadrFlex {
    flex-direction: column;
  }

  .homePageS7 .kadrFlex .itemFlex {
    width: 100%;
  }

  .homePageS7 .kadrFlex .itemFlex1 {
    display: none;
  }

  .homePageS7 .kadrFlex .itemFlex3 {
    text-align: center;
  }

  .homePageS8 .accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .homePageS9 .kadrFlex .itemFlex {
    padding: 15px 20px;
    width: 100%;
  }

  footer .kadrFlex .itemFlex {
    width: 50%;
  }

  footer .kadrFlex .itemFlex5 {
    width: 100%;
  }
}
